[submodule "plugins"]
	path = plugins
	url = https://github.com/myappgini/sbm_plugins.git
[submodule "adminlte3"]
	path = adminlte3
	url = https://github.com/ColorlibHQ/AdminLTE.git
[submodule "tvedit"]
	path = tvedit
	url = https://github.com/myappgini/sbm_tvedit.git
